PORT=3000
SUPABASE_URL=https://reoouzorovydpnqjurca.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlb291em9yb3Z5ZHBucWp1cmNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MTE0MDQsImV4cCI6MjA4OTI4NzQwNH0.5NSbj4d7V_Cbvfnd5bTSiWl_jcwjs-xa_4QLXQXspkc

